

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  background: none;
}
body {
  /* transform: scale(0.9); */
  font-weight: normal;
  font-size: 11px;
  font-family: Arial;
}
ul li {
list-style: none;
padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
.section{
  padding-top: 100px;
  padding-bottom: 100px;
}
.container{
  margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
  .text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:x-large;
    line-height: 1.3;
    letter-spacing: 0.06em;
  }
  
  .text-white{
    color: white;
  }
  .title{
    margin-bottom: 75px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 46px;
}

.box-hero{
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-ua{
  padding: 15px;
}
.link-ua:hover{
  color: black;
  background-color: white;
  
  border-radius: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wide-text{
  font-weight: 900;
}
  .hero-text{
    line-height: 1.4;
    padding-left: 28px;
  }
  .bgImages{
    background-image: url(../images/hero-bg.jpg);
  }

.hero-text{
  margin-bottom: 250px;
}
.hero-date{
  padding-left: 28px;

}

.follow-box-pad{
  padding-left: 28px;
  padding: 10px 32px;
}
.follow-title{
  
  color: #25753f;
}
.follow-text{
  margin-bottom: 100px;
  padding-left: 20px;
  font-weight: 700;
  font-size: xx-large;
}

.generation{
  display: block;
  background-image: url(../images/green-bg.png);
}



.generation-text{
  margin-bottom: 100px;
    padding-left: 20px;
    font-weight: 700;
    font-size: xx-large;
}

.box-flex{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-item{
  margin-bottom: 35px;

}

.our_work-logo{
  margin-left: auto;
  display: block;
  margin-bottom: 15px;
}
.our_work-flex{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.our_work-item{
  flex-basis: calc((100% - 10px)/2);
  width: 430px;
  height: 300px;
  background-size: cover;
}
.our_work-item1{
  background-image: url(../images/our_work1.jpg);
}
.our_work-item2{
  background-image: url(../images/our_work2.jpg);
}
.our_work-item3{
  background-image: url(../images/our_work3.jpg);
}
.our_work-item4{
  background-image: url(../images/our_work4.jpg);
}

.system-box{
  margin-bottom: 30px;
}
.system-list{
  display: flex;
  gap: 10px;
}

.system-item{
  padding: 20px;
  flex-basis: calc((100% - 30px)/4);
  border-radius: 15px;
  /* width: calc((100% - 10px)/2);  */

  box-shadow: 0px 1px 3px rgba(0,0,0,.12), 0px 1px 1px rgba(0,0,0,.14), 0px 2px 1px rgba(0,0,0,.2);
  background-color: #25753f;

}

.system-title{
margin-bottom: 15px;
padding: 0;
}
.system-power{
  margin-bottom: 30px;
}
.system-text{
  padding-bottom: 20px;
  font-size: 20px;
}

.benefits-list{
  display: flex;
  flex-direction: column;
  gap:15px;
}
.benefits-item{
  display:flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 15px;
  box-shadow: 0px 1px 3px rgba(0,0,0,.12), 0px 1px 1px rgba(0,0,0,.14), 0px 2px 1px rgba(0,0,0,.2);
  border: 2px solid #25753f;
}

.generator-img{
  display: block;
  width: 100%;
}

.section-green{
  background-color: #25753f;
}

.technology-box{
  margin-bottom: 70px;
}
.technology-title{
  margin: 0;
  padding: 0;
}

.technology-list{
  padding: 30px;

  border: 2px solid white;
  border-radius: 15px;
}
.technology-tab-text{
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}
.technology-item{
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}
.technology-item::before{
  width: 4px;
  border-bottom: 1px solid white;
}

.improvement-box{
  align-items: center;
  justify-content: center;
}

.follow-title{
  margin: 0;
  padding-right: 25px;
  font-weight: 900;
  font-size: 90px;
  line-height: 1.62;
}
.impr-text{
  font-size: 45px;
  line-height: 1.62;
}
.our_work-item5{
  background-image: url(../images/our_work5.jpg);
}
.our_work-item6{
  background-image: url(../images/our_work6.jpg);
}
.our_work-item7{
  background-image: url(../images/our_work7.jpg);
}
.our_work-item8{
  background-image: url(../images/our_work8.jpg);
}

.work-list{
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.work-item{
  flex-basis: calc((100% - 45px) / 3);
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(0,0,0,.12), 0px 3px 3px rgba(0,0,0,.14), 0px 4px 3px rgba(0,0,0,.2);
  border: 3px solid #25753f;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .work-item {
    flex-basis: calc((100% - 30px) / 2); 
  }
}

@media (max-width: 480px) {
  .work-item {
    flex-basis: 100%; 
  }
}
.work-img{
  margin-right: 20px;
}

.qrcode-link:hover{
  color: #25753f;
}
.qrcode-elm{
  margin-top: 30;
}

.qrcode-flex{
  display: flex;
  justify-content: center;
    align-items: center;
}
.qrcode-img{
  margin-right: 40px;
}

.footer-bg{
  padding: 300px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/footer-bg.png);
}

.footer-flex{
  display: flex;
  justify-content: center;
    align-items: center;
}

.footer-btn{
  display: inline-flex;
  min-width: 150px;
  min-height: 40px;
  margin: 0 auto;
  padding: 10px 32px;
  align-items: center;
  border: 0;
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 8px;
  transition: background-color 250ms var(--timing-f);
  color:white;
  background-color:#25753f;
}